* {
    border-box: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

.logo {
    background-image: url('images/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    width: 45vw;
    height: 100vh;
    color: white;
}

.container {
    display: flex;
}

.sign-up {
    flex-flow: column;
    justify-content: center;
}

input {
    background: gray;
}

.form {
    display: flex;
    flex-flow: wrap;
}


.row {
    display: flex;
}

.header, .form {
    margin-bottom: 10vh;
}