* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.logo {
    background-image: url('images/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    width: 80vw;
    height: 100vh;
    color: white;
}

.container {
    display: flex;
}

.sign-up {
    flex-flow: column;
    justify-content: center;
    margin: 5vh;
}

input {
    background: gray;
}

.form {
    display: flex;
    flex-flow: column;
}

.formInput {
    display: flex;
    flex-flow: column;
    margin-right: 10vh;
    margin-bottom: 4vh;
}

.row {
    display: flex;
}

.header, .form {
    margin-bottom: 10vh;
}

h3 {
    margin-bottom: 4vh;
}

span {
    font-style:italic;
}

.odinLogo {
    margin-top: 20vh;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
}